@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap');

:root {
    /* Colors */
    /* Primary */
    --Red: hsl(0, 100%, 68%);
    /* Neutral */
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font: 18px;
}

header, nav, button {
    font-family: 'Barlow Condensed', sans-serif;
}

header {
    display: flex;
    width: 70%;
    height: 20vh;
    margin: auto;
    align-items: center;
}

.logo-img,
.nav-items {
    display: flex;
}

.logo-img {
    flex: 1;
}

.logo {
    margin: 5px;
}

nav {
    flex: 1;
}

.nav-items {
    list-style: none;
    justify-content: space-around;
}

.nav-items a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    font-weight: 700;
}

.nav-items a:hover {
    text-decoration-line: underline;
}

.nav-items li:nth-child(4) {
    margin-top: 6px;
    font-size: .5em;
    opacity: .4;
}

.nav-items .focus {
    color: var(--Grayish-Blue);
}

.mobile-menu {
    display: none;
}

.main {
    padding-top: 30px;
    display: flex;
	width: 100%;
	margin: auto;
	align-items: center;
}

.text {
    flex: 1;
    margin-left: 15%;
}

.first-one {
    list-style: none;
    display: flex;
}

.first-one li:nth-child(1) {
    margin-right: 20px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    padding: 2px 7px;
    font-size: .8em;
    
}

.first-one li:nth-child(2) {
    font-size: .8em;
    letter-spacing: 4px;
    color: var(--Dark-Grayish-Blue);
}

h1 {
    margin: 20px 0 30px 0;
    color: var(--Very-Dark-Blue);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
}

p {
    margin-bottom: 20px;
    color: var(--Dark-Grayish-Blue);
}

.second-one {
    display: flex;
    list-style: none;
    margin-top: 60px;
}

.second-one button {
    font-weight: 510;
    background: var(--Red);
    color: var(--Light-Grayish-Blue);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
}

.second-one button:hover {
    background: hsl(0, 97%, 74%);
}

.second-one li:nth-child(2) {
    font-size: .7em;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: var(--Dark-Grayish-Blue);
    padding: 9px 0 9px 15px;
}

.blue-section {
	position: absolute;
	top: 0;
	right: 0;
	height: 60%;
	width: 52%;
	border-radius: 0 0 0 80px;
	background: hsl(207, 33%, 95%);
	z-index: -1;
}

@media screen and (max-width: 640px) {
    header {
        width: 85%;
    }

    .nav-items {
        display: none;
    }

    .mobile-menu {
        display: flex;
        list-style: none;
        align-content: right;
        cursor: pointer;
    }

    .mobile-menu img {
        margin-left: 80%;
    }

    .main {
        width: 100%;
        flex-direction: column-reverse;
    }

    .illustration {
        margin-left: 3%;
        width: 97%;
        margin-bottom: 50px;
        height: 40vh;
    }

    .text {
        margin: auto;
        width: 80%;
        margin-top: 30px;
    }

    h1 {
        font-size: 2.4em;
        margin-bottom: 20px;
    }

    .second-one {
        margin: 15px 0 40px 0;
        padding-bottom: 50px;
    }

    .blue-section {
        height: 75%;
    }
}
